* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
}

#myVideo{
    position:absolute; 
    height: 100%;   
    width: 100%;
    z-index: -1;
    top:0;  
    left:0;  
    right:0;  
    bottom:0;
    object-fit: cover;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
    color: white;
}

input {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: .8vw;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 190px;
    transition: .4s;
}

input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

input:focus {
    box-shadow: 0 0 0 .15vw skyblue;
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 1.2em;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.result{
    font-size: 25px;
    letter-spacing: 2px;
}
.front p{
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    transform: perspective(600px) ;
    height: 100%;
    padding: 20px;
    color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    padding-top: 50px;
    font-size: 18px;
}

.front .compute {
    background-color: rgba(0, 0, 0, 0.7);
    transform: perspective(600px) ;
    height: 100%;
    padding: 20px;
    color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    padding-top: 30px;
    font-size: 18px;
 }

.card {
    position: relative;
    width: 400px;
    height: 390px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1.5s;
}

.card .front {
    transform: perspective(600px) rotateY(@deg);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: linear-gradient(120deg, rgba(163, 24, 24, 0.8), rgba(109, 2, 2, 0.8));

    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
    text-decoration: none;
    transition: 0.2s;
    font-size: large;
    letter-spacing: 1.5px;
}

.card .back .link a:hover {
    color: black;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1.15px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}